.cabecalho{
    color: darkgoldenrod;
    background-color: darkblue;
    border-bottom: 0%;
    font-size: 20px;
    margin-bottom: 0%;
    font-weight: 500;

    
}
.cabecalho2{
    color: #fff;
    background-color: rgb(255, 140, 0);
    border-top: 0%;
    font-size: 20px;
}